# Arquivos a serem ignorados pelo git. Caso haja algum arquivo especifico em
# algum subdiretorio, crie um .gitignore no proprio subdiretorio do arquivo.
.*
*.o
*~
*.so
*.os
*.pyc
*.dylib
*.mexmaci
*.mexa64
*.mexmaci64
*.log
build/*.pyc
build/*.a
build/*.so
build/*.dylib
install/*
!.gitignore
*.json
matlab-*

